<%= form_with(model: ascetic_practice, local: true) do |form| %>
  <% if ascetic_practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ascetic_practice.errors.count, "error") %> prohibited this ascetic_practice from being saved:</h2>

      <ul>
      <% ascetic_practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
